.message {
  position: absolute;
  text-align: center;
  color: #000;
  width: 100%;
  padding: 1em;
  left: 0;
  top: 0;
}

.message.win {
  background: #00ffff9d;
}

.message.warn {
  background: rgba(255, 221, 0, 0.752);
}
